.texto-justificado {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}


/* Css para o slider */

.img-slider {
    max-width: 100%;
    height: 600px;
}

@media (max-width: 800px) {
  .img-slider {
    height: 30%;
  }
  .img-sobre-nos {
    display: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
}


/* Formatação para o parallax da home */

.parallax-home1 {
    background-image: url(../arquivos/imagens/slides/torreEiffelParallax1.png);
    height: 30vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    margin: 0;
    padding: 0;
}

.parallax-home2 {
    background-image: url(../arquivos/imagens/slides/torreEiffelParallax2.png);
    height: 30vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@media (max-width: 500px) {
  .parallax-home1, .parallax-home2 {
    height: 40vh;
    background-size: cover;
  }
}


/* Formatação usada no slider */

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  height: 30px;
  margin-top: 12%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  margin-top: 12%;
}


/* Formatação usada nos serviços da home */

.icones-servicos {
  width: 50px;
  cursor: pointer;
}

.img-botao-servicos {
  max-width: 100%;
}

.img-sobre-nos {
  max-width: 50%;
}

.servicos {
  width: 280px;
  margin: auto;
}

.img-servicos {
  margin: 0;
}

@media (max-width: 550px) {
  .servicos {
    width: 90%;
  }
}
@media (max-width: 300px) {
  .servicos {
    width: 100%;
  }
}

@media (max-width: 350px ) {
  .img-servicos {
    display: none;
  }
}

@media (max-width: 575px) {
  .img-botao-servicos {
    max-width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 444px) {
  .img-botao-servicos {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


/* Formatação localização */

.botao-consultas {
  margin: 0;
}

.mapa-localizacao {
  height: 400px;
  width: 100%;
}

@media (max-width: 992px) {
  .botao-consultas {
    display: none;
  }
}

@media (max-width: 460px) {
  .mapa-localizacao {
    height: 30%;
  }
}

/* Imagem sobre nós */
.img-historia {
  display: block;
  margin: auto;
  width: 50vh;
  max-width: 50%;
}

/* Marcação */
.horarios {
  background-color: rgb(173, 178, 182);
  padding-top: 10px;
  text-align: center;
  max-width: 30%;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 600px) {
  .horarios {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .horarios {
    max-width: 50%;
  }
}

.horarios ul {
  list-style-type: none;
  text-align: justify;
}

form {
  overflow: hidden;
}
