@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, .card {
    font-family: Montserrat, sans-serif;
    background-color: #e3e3e3;
    overflow-x: hidden;
}

nav, main {
    overflow: hidden;
}

footer {
    z-index: 100;
}

/* Formatação dos links do header */

.nav-link:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Configurações para o header e footer */

.logo-home {
    width: 100%;
    max-width: 200px;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

.logo-footer {
    width: 100%;
    max-width: 200px;
    height: auto;
    background-size: cover;
    padding-right: 10%;
}

.linha-footer {
    border-right: 2px solid #000000;
    padding-right: 1%;
}

.nav-header {
    max-width: 100%;
}

.nav-header-home {
    max-width: 100%;
}

.bi.icones-footer {
    font-size: 150%;
    color: #000;
}

.icones-footer:hover {
color: #1d1919 !important;
}

@media (max-width: 200px) {
.texto-footer {
    display: none;
}
}

@media (max-width: 243px) {
.texto-redes {
    display: none;
}
}

/* Seta pra cima */